.about-me {
  margin-top: 70px;

  @media (min-width: @desktop-width) {
    margin-top: 120px;
  }
}

.about-me__title {
  position: relative;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  z-index: 2;
  font-weight: 300;

  @media (min-width: @desktop-width) {
    font-size: 96px;
    line-height: 130px;
  }
}

.about-me__title::before {
  content: "";
  position: absolute;
  right: 20%;
  top: -26px;
  background-image: url("../img/circle-about.svg");
  width: 64px;
  height: 44px;

  @media (min-width: @desktop-width) {
    width: 176px;
    height: 124px;
    background-size: contain;
    right: 37%;
    top: -40px;
  }
}

.about-me__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 17px;
  background-image: url("../img/arrow-about.svg");
  width: 73px;
  height: 16px;

  @media (min-width: @desktop-width) {
    background-image: url("../img/arrow-desktop.svg");
    width: 400px;
    height: 16px;
    top: 60px;
  }
}

.about-me__title-symbol {
  color: @green;
  font-size: 19px;
  line-height: 33px;

  @media (min-width: @desktop-width) {
    font-size: 96px;
    line-height: 130px;
  }
}

.about-me__title-symbol-end {
  display: block;
  text-align: end;
}

.about-me__title-letter {
  font-style: italic;
}
