.contacts {
  margin-top: 90px;
  position: relative;
  min-height: 340px;

  @media (min-width: @desktop-width) {
    margin-top: 140px;
  }
}

.contacts__title {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;

  @media (min-width: @desktop-width) {
    font-size: 96px;
    line-height: 130px;
  }
}

.contacts__title-letter {
  font-style: italic;
}

.contacts__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 7px;
  background-image: url("../img/arrow-about.svg");
  width: 73px;
  height: 16px;

  @media (min-width: @desktop-width) {
    background-image: url("../img/arrow-desktop.svg");
    width: 400px;
    height: 16px;
    top: 60px;
    right: 9%;
  }
}

.contacts__title::before {
  content: "";
  position: absolute;
  left: 145px;
  top: 19px;
  background-image: url("../img/frame-contacts.svg");
  background-size: contain;
  width: 32px;
  height: 19px;

  @media (min-width: @desktop-width) {
    width: 96px;
    height: 58px;
    left: 31%;
    top: 75px;
  }
}

.contacts__wrap {
  font-size: 18px;
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding-left: 117px;
    font-size: 24px;
    line-height: 33px;
    height: 180px;
    justify-content: space-between;
  }
}

.contacts__wrap::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  background-image: url("../img/circle-contacts.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 67px;

  @media (min-width: @desktop-width) {
    width: 122px;
    height: 122px;
    right: -190px;
    top: -300px;
  }
}

.contacts__address {
  margin-top: 7px;
}

.contacts__link {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  color: @black;
  background-color: @green;
  width: 100%;
  border-radius: 40px;
  padding: 15px 0 15px 0;
  text-align: center;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    width: 30%;
    left: 60%;
    bottom: 20px;
  }
}

.contacts__link::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 90px;
  background-image: url("../img/aliens.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 286px;
  height: 58px;
}
