.education {
  margin-top: 20px;
  position: relative;
}

.education__wrap {
  padding-left: 44px;
}

.education__title {
  color: @green;

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 49px;
  }
}

.education__link {
  font-size: 18px;
  line-height: 25px;
  position: relative;

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 33px;
  }
}

.education__link::before {
  content: "";
  position: absolute;
  left: -45px;
  top: 0;
  background-image: url("../img/cap.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.education__year {
  font-size: 18px;
  line-height: 25px;
}

.education__time {
  color: @grey-dark;
  font-size: 16px;
  line-height: 22px;
  margin-top: -20px;
}

.education__slider {
  width: 288px;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    width: 625px;
  }
}

.education__slider-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
  transition: all ease 1s;

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-right: 25px;
  }
}

.education__img {
  margin-right: 30px;
}

@media (min-width: @desktop-width) {
  .education__container {
    display: flex;
    justify-content: space-between;
  }
}

.education__buttons {
  margin-left: 95px;

  @media (min-width: @desktop-width) {
    margin-left: 0;
    text-align: center;
  }
}

.education__button {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    position: absolute;
    right: -55px;
    bottom: 45%;
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

.education__button-back {
  background-image: url("../img/left-arrow.svg");

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.education__button-next {
  background-image: url("../img/right-arrow.svg");
}
