.page-header {
  padding: 13px 20px 0 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}


.page-header__logo-image {
  width: 156px;

  @media (min-width: @desktop-width) {
    width: 213px;
  }
}

.page-header__link {
  display: block;
  background-image: url("../../img/telephone.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  font-size: 0;
  position: absolute;
  left: 220px;
}

@media (min-width: @desktop-width) {
  .page-header__link {
    display: block;
    background-image: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    margin-right: 0;

    &:focus {
      color: @yellow;
    }

    &:hover {
      color: @yellow;
    }

    &:active {
      color: @orange;
    }
  }
}
