.skills {
  margin-top: 20px;
  padding-left: 44px;

  @media (min-width: @desktop-width) {
    margin-top: 130px;
    padding-right: 110px;
    background-image: url("../img/matrix.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -120px;
  }
}

.skills__title {
  font-size: 24px;
  line-height: 33px;
  color: @green;

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 49px;
    text-align: right;
    margin-right: 60px;
  }
}

.skills__list {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @desktop-width) {
    line-height: 50px;
  }
}

.skills__list-one,
.skills__list-two {
  position: relative;
}

.skills__list-two {
  margin-top: 25px;
}

.skills__list-one::before {
  content: "";
  position: absolute;
  left: -45px;
  top: 0;
  background-image: url("../img/mechanism.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;

  @media (min-width: @desktop-width) {
    top: 10px;
  }
}

.skills__list-two::before {
  content: "";
  position: absolute;
  left: -45px;
  top: 5px;
  background-image: url("../img/html.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

@media (min-width: @desktop-width) {
  .skills__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
}
